<header>
  <div class="title-wrapper">
    <a class="title" href="/v1/products">我的電商網站</a>
  </div>
  {{#if loginUser}}
  <div class="user-logout-wrapper">
    <a class="user-profile-link" href="/v1/user/profile">{{loginUser.email}}</a>
    <a href="/v1/user/logout">
      <button class="user-logout-button">登出</button>
    </a>
  </div>
  {{else}}
  <div class="user-login-wrapper">
    <a href="/v1/user/login">
      <button class="user-login-button">登入</button>
    </a>
  </div>
  {{/if}}
</header>