<div class="profile-wrapper">
  <div class="background-wrapper">
    <img src="https://static.gltjp.com/glt/prd/data/directory/12000/11587/20210610_144622_f7b39233_w1920.jpg" alt=""
      class="background-image">
  </div>
  <div class="user-wrapper">
    <div class="avatar-wrapper">
      <img
        src="https://images.goodsmile.info/cgm/images/product/20100608/2880/10329/large/21e5d896e7295635ff45f3c593ef4c76.jpg"
        alt="" class="user-avatar">
    </div>
    <div class="data-wrapper">
      <div class="wrapper-item">
        <span class="wrapper-title">姓名: </span>
        <span class="wrapper-content">朱俊嘉</span>
      </div>
      <div class="wrapper-item">
        <span class="wrapper-title">電話: </span>
        <span class="wrapper-content">0936192925</span>
      </div>
      <div class="wrapper-item">
        <span class="wrapper-title">性別: </span>
        <span class="wrapper-content">男</span>
      </div>
      <div class="wrapper-item">
        <span class="wrapper-title">生日: </span>
        <span class="wrapper-content">1998-02-17</span>
      </div>
    </div>
    <div class="edit-button-wrapper">
      <a href="/v1/user/edit">
        <button class="edit-button">
          編輯
        </button>
      </a>
    </div>
  </div>
</div>